#Gladiator-one-input {
    size: 2vh;
    width: 25%;
}
body {
    background-image: url(./photos/gladiator.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
#Intro {
    background-color: red;
}
.panel-body {
    background-color: skyblue;
    border: 12%;
}
#Gladiator-two-input {
    width: 25%;
}
#gladiator {
    font-size: 3vh;
}
#turn {
    font-size: 4vh;
}

#War1 {
    font-size: 25px;
}
#War2 {
    font-size: 25px;
}

.btn {
    background-color: #002822;
    color: white;
    height: 50px;
    width: 100px;
    font-size: 15px;
}
