#Gladiator-one-input {
    width: 25%;
}
body {
    background-image: url(./photos/gladiator.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.panel-body {
    background-color: #4a6262;
    border: 12px;
}
#Gladiator-two-input {
    width: 25%;
}

#War1 {
    font-size: 25px;
}
#War2 {
    font-size: 25px;
}

.btn {
    background-color: #002822;
    color: white;
}
